/*
   I assume a reset is OK? 

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* requirements: 

background, color, font-family, font-size,
height, margin, padding, text-align

Semantic containers like main, article, and footer
Styled links using pseudo-classes
Comments throughout your HTML and CSS that explain your code

*/

body {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #CB9A9F;
  background: linear-gradient(35deg, #3A3A3F, #871746);
}

/* header content */
header {
  border-bottom: 1px dotted black;
  text-align: center;
  padding: 1% 0 1% 0;
  background-color: #3A3A3F;
}
span { /* for stylization purposes */ 
  font-family: 'Parisienne', cursive;
  font-size: 1em;
  color: #CB9A9F;
  text-shadow: 2px 2px 5px #fc026a;
}
h1 {
  font-size: 5em;
  font-family: 'Kristi', cursive;
  color: #CB9A9F;
  text-shadow: 2px 2px 5px #fc026a;
}
h2, footer a {
  font-size: 2.8em;
  font-family: 'Shadows Into Light', cursive;
  color: #CB9A9F;
  text-shadow: 2px 2px 5px #407be0;
  text-decoration: none;
}

/* main body */
h3 { /* stylizing the body headings */
  font-size: 1em;
  font-family: 'Dancing Script', cursive;
  color: #CB9A9F;
  text-shadow: 0 1px 2px #3A3A3F, 0px 0px 20px #ff0000;
}
h4 { /* stylizing the body headings */
  padding: 5% 0 0 0;
  font-size: 1.75em;
  color: #CB9A9F;
  text-align: center;
  font-family: 'Kristi', cursive;
  text-shadow: 0 1px 2px #3A3A3F, 0px 0px 25px #407be0;
}
main {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 3px #871746;
  padding-bottom: 5%;
}
main section {
  width: 50%;
}

/* selfie section */
.selfie {
  padding: 5% 0 1% 0;
  text-align: center;
}
img{
  box-shadow: 0px 0px 10px #030303;
  border: 1px solid white; 
  width: 75%;
  height: 75%;
}

/* content & lists */
section p {
  padding: 1% 0 1% 0;
  font-size: .8em;
}
ul, li, ol {
  padding-left: 7%;
  font-size: .9em;
  padding-top: 2%;
}

/* required */
hr {
  border: 1px dotted #3A3A3F;
  width: 50%;
  margin-top: 3%;
}

/* footer content */
footer {
  background-color: #3A3A3F;
  border-top: 1px dotted black;
  text-align: center;
  padding: 2% 0 3% 0;
}
footer h1 {
  padding-bottom: 2%;
}
footer a:hover { /* pseudo-cclass for links */
  text-shadow: 2px 2px 5px #fc026a;
}
footer a:visited { /* pseudo-cclass for links */
  text-shadow: 2px 2px 5px black;
}