/*
   I assume a reset is OK? 

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* requirements: 

background, color, font-family, font-size,
height, margin, padding, text-align

Semantic containers like main, article, and footer
Styled links using pseudo-classes
Comments throughout your HTML and CSS that explain your code

*/

body {
    font-size: 62.5%;
    font-family: 'Kristi', cursive;
    background-color: #E2D9CA;
    color: #6F2937;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  header {
    background-color: rgb(54, 18, 18);
    border-bottom: 1px dotted black;
    text-align: center;
    padding: 1% 0 1% 0;
    color: black;
    background: linear-gradient(35deg, #E02C62, #6F2937);
  }

  span {
    font-family: 'Parisienne', cursive;
    font-size: 1em;
  }

  main {
    font-size: 3em;
  }

  main img {
    display: flex;
  }

  footer {
    background-color: #E3BC9A;
  }
