/* requirements: 

background, color, font-family, font-size,
height, margin, padding, text-align

Semantic containers like main, article, and footer
Styled links using pseudo-classes
Comments throughout your HTML and CSS that explain your code

*/

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
  }

